*{
    font-family: "bahnschrift";
    color: #d6d6d6;
    scrollbar-color: #29343f #001b1e;
    -webkit-tap-highlight-color: transparent;
}

@font-face{
    font-family: Bahnschrift;
    src: url('Fonts/Bahnschrift.ttf');
}
@font-face{
    font-family: Samsung;
    src: url('Fonts/samsungsharpsans-medium.otf');
}

body{
    background-color: #001b1e;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 12%;
    margin-right: 12%;
}

button{user-select: none;}

h1, h2, h3, h4, h5{
    color: white;
}

label, button{
    background-color: #0b2427;
    border-radius: 0.5em;
    border-width: 0;
    color: white;
    padding: 0.65em;
    transition: background-color 0.3s;
}

#run{
    font-size: x-large;
    padding: 0.8em;
    background: linear-gradient(90deg, #ff5e33, #ff3086);
    box-shadow: 0 0 1em 0 #000f11;
}

input[type="checkbox"], label, button{
    cursor: pointer;
}

button:hover{background-color: #29343f;}

label:has(#roadRaces):hover, label:has(#speedRaces):hover, label:has(#apexPredators):hover{background-color: #1b3144;}
label:has(#streetRaces):hover{background-color: #34243c;}
label:has(#dirtRaces):hover, label:has(#hazardRaces):hover{background-color: #462c2b;}
label:has(#crossCountryRaces):hover{background-color: #1c352f;}
label:has(#dragRaces):hover{background-color: #3e2532;}
label:has(#midnightBattles):hover{background-color: #21242f;}
label:has(#horizonRaptors):hover{background-color: #46302b;}
label:has(#gritReapers):hover{background-color: #2d2445;}

label{
    line-height: 2.5em;
    margin-right: 0.3em;
    box-shadow: 0 0 1em 0 #000f11;
}

label:has(#roadRaces:checked), label:has(#speedRaces:checked), label:has(#apexPredators:checked){
    outline: 0.15em solid #0090d6;
    background-color: #1b3144;
}
label:has(#streetRaces:checked){
    outline: 0.15em solid #b62daf;
    background-color: #34243c;
}
label:has(#dirtRaces:checked), label:has(#hazardRaces:checked){
    outline: 0.15em solid #ff7111;
    background-color: #462c2b;
}
label:has(#crossCountryRaces:checked){
    outline: 0.15em solid #1ca452;
    background-color: #1c352f;
}
label:has(#dragRaces:checked){
    outline: 0.15em solid #df386e;
    background-color: #3e2532;
}
label:has(#midnightBattles:checked){
    outline: 0.15em solid #501e54;
    background-color: #21242f;
}
label:has(#horizonRaptors:checked){
    outline: 0.15em solid #ff8b00;
    background-color: #46302b;
}
label:has(#gritReapers:checked){
    outline: 0.15em solid #9526dd;
    background-color: #2d2445;
}

input[type="checkbox"]{
    appearance: none;
    margin: 0;
}

#imagediv{
    display: block;
    float: left;
    width: 64%;
    height: 19em;
    position: relative;
}

#image, #image2{
    background-color: #29343f;
    border-radius: 2em;
    height: 19em;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

#image{
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(2em);
    box-shadow: 0 0 1.5em 0 #000f11;
}

#details{
    width: 34%;
    display: block;
    float: right;
}

.roadRace, .speedRace, .apexPredators{color: #0090d6;}
.streetRace{color: #b62daf;}
.dirtRace, .hazardRace{color: #ff7111;}
.crossCountryRace{color: #1ca452;}
.dragRace, .goliath{color: #df386e;}
.midnightBattle{color: #501e54;}
.horizonRaptors{color: #ff8b00;}
.gritReapers{color: #9526dd;}

#winter{
    background: linear-gradient(180deg, #58c6c6, #3c92c4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-decoration: none;
}

#deselectall{
    cursor: pointer;
    user-select: none;
    color: white;
    transition: text-shadow 0.3s;
}

#deselectall:hover{text-shadow: 0 0 0.5em white;}

a{
    background: linear-gradient(90deg, #ff5e33, #ff3086);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-decoration: none;
    transition: text-shadow 0.3s;
}
a:hover{text-shadow: 0 0 0.5em #ff3086;}

#more{
    cursor: pointer;
    color: white;
    user-select: none;
    pointer-events: all;
}
#more:hover{font-weight: bold;}

#menu{
    height: 0;
    opacity: 0;
    transition: 0.5s ease-in-out;
    pointer-events: none;
    background-color: rgba(11, 36, 39, 0.75);
    border-radius: 0.5em;
    padding: 1.25em;
    display: block;
    float: right;
    box-shadow: 0 0 1em 0 #000f11;
    overflow: hidden;
    backdrop-filter: blur(0.5em);
}
#menu.open{
    height: 8.5em;
    opacity: 1;
    pointer-events: all;
}

#moreicon{
    color: white;
    font-size: 250%;
    text-shadow: 0 0 0.25em black;
    transition: text-shadow 0.3s;
}
#moreicon:hover{text-shadow: 0 0 0.25em white;}
#moreicon.open{animation: arropen 0.5s ease-in-out forwards;}
@keyframes arropen{
    from{transform: rotateX(0deg);}
    to{transform: rotateX(180deg);}
}
#moreicon.closed{animation: arrclose 0.5s ease-in-out forwards;}
@keyframes arrclose{
    from{transform: rotateX(180deg);}
    to{transform: rotateX(0deg);}
}

#menuframe{
    position: fixed;
    right: 13%;
    top: 3%;
    z-index: 2;
    pointer-events: none;
}

#menuclose{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
#menuclose.open{
    display: block;
}

#title{
    text-align: center;
    font-family: Samsung;
    background: linear-gradient(90deg, #ff5e33, #ff3086);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-top: 2em;
    padding-bottom: 2em;
    display: inline-block;
    margin: 0;
}

@media only screen and (max-device-width: 600px){
    body{
        margin-left: 3%;
        margin-right: 3%;
    }

    #imagediv, #details {
        width: 100%;
        float: none;
        text-align: center;
    }

    #image, #image2, #imagediv{height: 12em;}
    
    #menuframe{ 
        right: 4%;
        top: 1%;
    }
}